html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  background-image: url("../../assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table {
  width: 72rem;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 21rem;
  position: relative;
}

.floating-form {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
}

.player-square {
  width: 8rem;
  height: 1rem;
  background-color: black;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  position: absolute;
  border-radius: 20rem;
  padding-top: 0.9rem;
}

.player-6 {
  top: 10%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.player-4 {
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.player-2 {
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.player-7 {
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.player-1 {
  top: 90%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.player-8 {
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.player-5 {
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.player-3 {
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.player-9 {
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.player-0 {
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

#input {
  border: none;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}

#input:focus {
  outline: none;
}

#form > button {
  background: #333;
  border: none;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.data-player {
  margin-top: 5px;
}

.hearts {
  display: flex;
  margin-top: 5px;
}

.heart {
  height: 1rem;
  margin-right: 2px;
}

.prediction-circle {
  width: 2rem;
  height: 2rem;
  background-color: black;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 7rem;
  transform: translateY(-50%);
}

.profile-pic {
  width: 100px;
  height: 100px;
  background-color: black;
  background-size: 115%;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-70%);
  margin-bottom: 10px;
}

.ready-container {
  flex-direction: column;
  align-items: center;
  margin-bottom: -50rem;
  text-align: center;
}

.ready-count {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: white;
}

.btn-generate-room-link {
  background-color: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-generate-room-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-generate-room-link img {
  width: 20px;
  height: 20px;
}

.btn-generate-room-link.clicked {
  background-color: rgba(0, 0, 0, 0.658);
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  overflow: visible;
  z-index: 1;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  flex-shrink: 1;
}

.card img {
  border-radius: 10px;
  width: 7rem;
  transition: transform 0.1s ease-in-out, width 0.2s ease-in-out;
}

.joker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  flex-shrink: 1;
}

.joker img {
  border-radius: 10px;
  width: 7rem;
}

.card img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card img.move-to-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -30rem);
  transition: 0.3s;
  z-index: 50;
}

.joker-container {
  position: fixed;
  margin-right: 20rem;
}

.joker-container img {
  position: fixed;
  margin-right: 15rem;
}

.deck-container {
  position: fixed;
  margin-right: 15rem;
}

.card-back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-right: 8rem;
}

.card-back img {
  position: absolute;
  border-radius: 10px;
  width: 7.7rem;
  height: auto;
}

.card-back img:nth-child(1) {
  z-index: 1;
  transform: translateX(0);
}

.card-back img:nth-child(2) {
  z-index: 2;
  transform: translateX(-0.5rem);
}

.card-back img:nth-child(3) {
  z-index: 3;
  transform: translateX(-1rem);
}

.info {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 340px;
  background-color: rgba(34, 31, 31, 0.8);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.info h3,
.info h4 {
  margin: 10px 0;
}

.info-cards {
  width: 100%;
  border-radius: 6px;
  height: 5rem;
  width: 3.5rem;
}

.arrow {
  width: 2rem;
  margin-bottom: 25px;
}

.bid-button {
  margin-left: 5px;
}

.turn-to-play {
  border: 3px solid rgb(247, 4, 255);
}

.bid-container {
  margin-top: 14rem;
  position: fixed;
  z-index: 1000;
}

.pile-container {
  position: fixed;
  transform: translate(-50%, -50%);
  margin-bottom: 10rem;
  z-index: 51;
}

.pile {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: bottom left;
}

.pile img {
  border-radius: 10px;
  width: 7rem;
  position: relative;
  transition: transform 0.3s ease;
}

.pile {
  z-index: var(--index);
}
