<div class="container">
  <div>
    <div class="table-container">
      <div class="table">
        <div *ngFor="let playerInfo of getMapEntries(); let i = index" class="player-square player-{{ i }}">
          <div class="profile-pic" [ngStyle]="{
              'background-image': 'url(' + playerInfo.data.data.picture + ')'
            }" [ngClass]="{ 'turn-to-play': playerInfo.turnToPlay || playerInfo.ready && notReady() }"></div>
          <div class="data-player" [class.ready]="playerInfo.ready">
            <div class="prediction-circle">{{ playerInfo.setInfo?.bid}}</div>
            {{ playerInfo.data.data.name }}
            <div class="hearts">
              <img *ngFor="let heart of getHearts(playerInfo.lifes)" class="heart" src="../../assets/heart3.png"
                alt="Heart" />
            </div>
            <div class="cards-back-player">
              <img *ngFor="let card of getPoints(playerInfo)" class="heart" src="../assets/cards/back_card.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-player-forms *ngIf="!isAuthenticated()" [saveCallback]="join.bind(this)"
      class="floating-form"></app-player-forms>
  </div>

  <div *ngIf="notReady() && isAuthenticated()" class="ready-container">
    <div class="ready-count">
      Players ready: {{ totalReadyPlayersCount() }}/{{ totalPlayersCount() }}
    </div>
    <p-button [disabled]="!playersToStart()" label="Ready" [raised]="true" severity="secondary"
      (click)="markAsReady()" />
  </div>

  <div class="deck-container" *ngIf="isAuthenticated()">
    <div class="card-back">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
    </div>
  </div>
  <div class="joker-container" *ngIf="isAuthenticated() && upcard">
    <div class="joker">
      <img [src]="getCardImage(upcard)">
    </div>
  </div>

  <div class="pile-container" #cardsContainer>
    <div class="pile" *ngFor="let turn of pile; let i = index"
      [ngStyle]="{'--index': pile.length - i, 'left.px': i * 20, 'transform': 'rotate(' + (i * 5) + 'deg)'}">
      <img [src]="getCardImage(turn.card)" />
    </div>
  </div>

  <div class="cards-container" #cardsContainer>
    <div class="card" *ngFor="let card of cardsPlayer">
      <img [src]="getCardImage(card)" [class.disabled]="gameState !== GameState.Dealing"
        (click)="handleCardClick($event, card)" />
    </div>
  </div>

  <div class="bid-container" *ngIf="bidding() && !this.setOrRoundEnded">
    <p-button class="bid-button" *ngFor="let bid of possible_bids" [label]="bid.toString()" [raised]="true"
      severity="secondary" [disabled]="" (click)="sendBid(bid)"></p-button>
  </div>

  <div class="info">
    <button pButton icon="{{ collapsed ? 'pi pi-chevron-down' : 'pi pi-chevron-up' }}" (click)="toggleCollapse()"
      label="{{ collapsed ? 'Expand' : 'Collapse' }}" class="p-button-rounded p-button-text">
    </button>
    <p-tabView *ngIf="!collapsed" styleClass="custom-tabview">
      <p-tabPanel header="Game Info">
        <h4>Suit Order:</h4>
        <img class="info-cards" src="../assets/cards/1ouro.jpg" alt="">
        <img class="arrow" src="../assets/red_arrow.png" alt="">
        <img class="info-cards" src="../assets/cards/1espada.jpg" alt="">
        <img class="arrow" src="../assets/red_arrow.png" alt="">
        <img class="info-cards" src="../assets/cards/1copas.jpg" alt="">
        <img class="arrow" src="../assets/red_arrow.png" alt="">
        <img class="info-cards" src="../assets/cards/1paus.jpg" alt="">
        <h4>Joker: {{ getJokerValue() }}</h4>
        <h4>Round Number: {{ this.totalCardsInRound}}</h4>
        <h4>Order: 4 → 5, 6, 7, 10, 11(Q), 12(K), 1, 2, 3</h4>
      </p-tabPanel>
      <p-tabPanel header="Sounds">
        <h4>Volume:</h4>
        <p-slider [(ngModel)]="volume" styleClass="w-5rem" (ngModelChange)="onVolumeChange()" />
        <br>
        <h4>Your Turn Notification Audio:</h4>
        <p-dropdown [options]="audios" [(ngModel)]="selectedAudio" optionLabel="name" placeholder="Select a Audio" />
      </p-tabPanel>
      <p-tabPanel header="View"></p-tabPanel>
    </p-tabView>
  </div>

</div>