<div class="container">
  <div>
    <div class="table-container">
      <div class="table">
        <div *ngFor="let playerInfo of getMapEntries(); let i = index" class="player-square player-{{ i }}">
          <div class="profile-pic" [ngStyle]="{
              'background-image': 'url(' + playerInfo.data.data.picture + ')'
            }" [ngClass]="{ 'turn-to-play': playerInfo.turnToPlay }"></div>
          <div class="data-player" [class.ready]="playerInfo.ready">
            <div class="prediction-circle">{{ playerInfo.setInfo?.bid}}</div>
            {{ playerInfo.data.data.name }}
            <div class="hearts">
              <img *ngFor="let heart of getHearts(playerInfo.lifes)" class="heart" src="../../assets/heart3.png"
                alt="Heart" />
            </div>
            <div class="cards-back-player">
              <img *ngFor="let card of getPoints(playerInfo)" class="heart" src="../assets/cards/back_card.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-player-forms *ngIf="!isAuthenticated()" [saveCallback]="join.bind(this)"
      class="floating-form"></app-player-forms>
  </div>

  <div *ngIf="notReady() && isAuthenticated()" class="ready-container">
    <div class="ready-count">
      Players ready: {{ totalReadyPlayersCount() }}/{{ totalPlayersCount() }}
    </div>
    <p-button [disabled]="!playersToStart()" label="Ready" [raised]="true" severity="secondary"
      (click)="markAsReady()" />
  </div>

  <div class="deck-container" *ngIf="isAuthenticated()">
    <div class="card-back">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
    </div>
  </div>
  <div class="joker-container" *ngIf="isAuthenticated() && trump">
    <div class="card">
      <img [src]="getCardImage(trump)">
    </div>
  </div>

  <div class="deck-container" #cardsContainer>
    <div class="card" *ngFor="let turn of pile">
      <img [src]="getCardImage(turn.card)" src="" />
    </div>
  </div>

  <div class="cards-container" #cardsContainer>
    <div class="card" *ngFor="let card of cardsPlayer">
      <img [src]="getCardImage(card)" (click)="playCard(card)" src="" />
    </div>
  </div>

  <div class="bid-container" *ngIf="bidding()">
    <p-button class="bid-button" *ngFor="let bid of possible_bids" [label]="bid.toString()" [raised]="true"
      severity="secondary" [disabled]="" (click)="sendBid(bid)"></p-button>
  </div>

  <div class="info">
    <h3>Game Info</h3>
    <img class="info-cards" src="../assets/cards/1ouro.jpg" alt="">
    <img class="arrow" src="../assets/red_arrow.png" alt="">
    <img class="info-cards" src="../assets/cards/1espada.jpg" alt="">
    <img class="arrow" src="../assets/red_arrow.png" alt="">
    <img class="info-cards" src="../assets/cards/1copas.jpg" alt="">
    <img class="arrow" src="../assets/red_arrow.png" alt="">
    <img class="info-cards" src="../assets/cards/1paus.jpg" alt="">
    <h4>Joker: </h4>
    <h4>Round Number: </h4>
  </div>
</div>
