<div class="container">
  <div>
    <div class="table-container">
      <div class="table">
        <div *ngFor="let player of players | keyvalue; let i = index" class="player-square player-{{ i }}">
          <div class="profile-pic" [ngStyle]="{
              'background-image': 'url(' + player.value.profilePicture + ')'
            }"></div>

          <div class="prediction-circle">3</div>
          {{ player.value.userName }}
          <div class="hearts">
            <img class="heart" src="../../assets/heart3.png" alt="" *ngFor="let heart of getHearts(player.key)" />
          </div>
        </div>
      </div>
    </div>

    <div class="chat-container">
      <div class="room-link">
        <h2>Room: {{ roomId }}</h2>
        <label for="room-link">Room Link:</label>
        <input id="room-link" type="text" [value]="roomLink" readonly />
        <button class="btn-generate-room-link" (click)="generateRoomLink()">
          <img src="../../assets/copy_black_ico.png" alt="" />
        </button>
      </div>
      <ul id="messages">
        <li *ngFor="let message of messages">
          {{ message }}
        </li>
      </ul>
      <form id="form" (submit)="sendMessage($event)">
        <input id="input" type="text" autocomplete="off" />
        <button type="submit">Send</button>
      </form>
    </div>
  </div>

  <div *ngIf="!allPlayersReady" class="ready-container">
    <div class="ready-count">
      Players ready: {{ readyPlayersCount }}/{{ totalPlayersCount }}
    </div>
    <button class="btn-ready" (click)="markAsReady()">Ready</button>
  </div>

  <div class="deck-container">
    <div class="card-back">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
      <img src="../assets/cards/back_card.jpg">
    </div>
  </div>
  <div class="joker-container">
    <div class="card">
      <img src="../assets/cards/3ouro.jpg">
    </div>
  </div>

  <div *ngIf="allPlayersReady" class="cards-container" #cardsContainer>
    <div class="card" *ngFor="let card of cards">
      <img [src]="card" (click)="moveToCenter($event)" />
    </div>
  </div>
</div>