html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-image: url('../../assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.table-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table {
    width: 72rem;
    height: 40rem;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 21rem;
    position: relative; /* Adicionado */
}

.player-square {
    width: 40px;
    height: 40px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 14px;
    position: absolute; /* Adicionado */
}

.player-6 { top: 10%; left: 60%; transform: translate(-50%, -50%); }
.player-4 { top: 20%; left: 80%; transform: translate(-50%, -50%); }
.player-2 { top: 50%; left: 90%; transform: translate(-50%, -50%); }
.player-7 { top: 80%; left: 80%; transform: translate(-50%, -50%); }
.player-1 { top: 90%; left: 60%; transform: translate(-50%, -50%); }
.player-8 { top: 90%; left: 40%; transform: translate(-50%, -50%); }
.player-5 { top: 80%; left: 20%; transform: translate(-50%, -50%); }
.player-3 { top: 50%; left: 10%; transform: translate(-50%, -50%); }
.player-9 { top: 20%; left: 20%; transform: translate(-50%, -50%); }
.player-0 { top: 10%; left: 40%; transform: translate(-50%, -50%); }

.chat-container {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.room-link {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 140px);
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form > button {
    background: #333;
    border: none;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
