<div class="view-container">
    <div class="table-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Locale</th>
                    <th>Name</th>
                    <th>Players</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>BR</td>
                    <td>Test room</td>
                    <td>1/10</td>
                    <td>Waiting</td>
                    <td><button class="btn-join">Join</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>BR</td>
                    <td>Test room</td>
                    <td>2/10</td>
                    <td>In Progress</td>
                    <td><button class="btn-join">Join</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>