<div class="home-container">
  <div class="options">
    <h1 class="title">Oh-Hell Game</h1>
    <button class="button btn--room" (click)="createLobby()">Create Room</button>
    <button class="button btn--room" (click)="viewLobbies()">Rooms</button>
    <button class="button btn--room" (click)="joinLobby()">Join Room</button>
    <input *ngIf="joinInput" class="input-room" [(ngModel)]="roomId" placeholder="Enter lobby ID" />
    <button class="button btn--room">How to Play</button>
  </div>
  <div class="player-preview">
    <h3>Text your UserName</h3>
    <input [(ngModel)]="userName" placeholder="Username" />
    <div class="profile-pictures">
      <img *ngFor="let picture of profilePictures" [src]="picture" [class.selected]="picture === selectedPicture"
        (click)="selectPicture(picture)" alt="Profile Picture" />
    </div>
  </div>
</div>
